.default-color0.chart-pie { -fx-pie-color: #47ABA1; }
.default-color1.chart-pie { -fx-pie-color: #F36947; }
.default-color2.chart-pie { -fx-pie-color: #7585B9; }
.default-color3.chart-pie { -fx-pie-color: #EA8041; }
.default-color4.chart-pie { -fx-pie-color: #A29279; }
.default-color5.chart-pie { -fx-pie-color: #75D197; }
.default-color6.chart-pie { -fx-pie-color: #916060; }
.default-color7.chart-pie { -fx-pie-color: #70CEC7; }
.default-color8.chart-pie { -fx-pie-color: #E7DDB6; }